* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
}

h2 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
}

.wrapper {
    width: 943px;
    margin: 0px auto;
}

.header {
    margin-bottom: 104.06px;
}

.nav {
    margin-top: 32.99px;
    padding-bottom: 31.92px;
    display: flex;
    justify-content: space-between;

    font-family: 'Gilroy-Bold';
    font-size: 18px;

    border-bottom: 1px solid #828282;
}

.nav a {
    text-decoration: none;
    color: #828282;
}

.nav .active a {
    color: #070707;
}

.nav a:hover {
    color: #070707;
}


.main-description {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 945px;
    height: 388px;
    margin-top: 31px;
    background-image: url(img/photo.png);
}

.logo h1 {
    font-family: 'Gilroy-Bold';
    margin-top: 39.69px;
    font-size: 47.34px;
}

.gamburger {
    display: none;
}

.gamburger-menu-wrapper {
    display: none;
}

.gamburger-menu-wrapper {
    width: 349px;
    margin: 0 auto;
    font-size: 34px;
    background-color: #fff;
}

.gamburger-menu {
    margin-top: 66px;
    font-family: 'Gilroy-Bold';
    
}

.gamburger-menu a {
    text-decoration: none;
    color: #828282;
}

.gamburger-menu a:hover {
    color: #000;
}

.gamburger-menu a.active {
    color: #000;
}

.gamburger-nav {
    display: flex;
    justify-content: space-between;
}

.gamburger-nav ul {
    list-style: none;
}

.gamburger-close {
    width: 23px;
    height: 23px;
    background-image: url(img/crose.svg);
    cursor: pointer;
}

.gamburger-lang-toggle {
    margin-bottom: 69.5px;
    writing-mode: vertical-lr;
    font-size: 16px;
    color: #828282;

    float: right;
}

.gamburger-lang-toggle a {
    color: #828282;
    text-decoration: none;
}

.gamburger-lang-toggle a:hover {
    color: #000;
}

.gamburger-lang-toggle .active {
    color: #000;
}

.year {
    margin-top: 94.77px;
    font-size: 18px;
}

.lang-toggle {
    margin-bottom: 69.5px;
    writing-mode: vertical-lr;
    font-size: 16px;
    color: #828282;

    -moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
}

.lang-toggle a {
    color: #828282;
    text-decoration: none;
}

.lang-toggle a:hover {
    color: #000;
}

.lang-toggle .active {
    color: #000;
}

.about-me {
    padding: 57px 0;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    background-color: #F6F6F6;
    text-align: center;    
}

.about-me h2 {
    margin-top: 63.25px;
    margin-bottom: 18px;
}

.about-me div {
    margin-bottom: 50px;
    line-height: 22px;
}

.skils {
    text-align: center;
    padding: 91px 0;
    margin-bottom: 19.06px;
}

.skils h2 {
    margin-top: 0px;
    margin-bottom: 69.1px;
} 

.skils-items {
    margin-top: 81.49px;
    display: flex;
    justify-content: space-between;
}

.skils-items img {
    margin-bottom: 26.81px;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating__star {
    width: 20px;
    height: 20px;
    background-image: url(img/star-disable.svg);
    margin: 7.5px;
}

.rating__star.active {
    background-image: url(img/star-active.svg);
}

.portfolio {
    background-color: #F6F6F6;
    padding: 112.93px 0;
    text-align: center;
}

.portfolio h2 {
    margin-bottom: -52px;
}

.portfolio-img {
    width: 937px;
    height: 522px;
    margin-bottom: 44px;
    margin-top: 99px;
}

.portfolio-img.camping-sale {
    background-image: url(img/camping-sale.png);
}

.portfolio-img.rebok {
    background-image: url(img/reebok.png);
}

.portfolio-img.braun {
    background-image: url(img/braun.png);
}

.contacts {
    text-align: center;
    width: 300px;
    margin: 0px auto;
    padding: 114px 0;
}

.contacts h2 {
    margin-bottom: 20px;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 102px;
    margin-bottom: 45px;
}

.send-message-button {
    width: 187px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    padding: 5px 10px;
}

.poscriptum {
    font-size: 14px;
}

@media screen and (max-width: 945px) {
    .wrapper {
        width: 317px;
        margin: 0px auto;
    }

    .nav {
        display: none;
    }

    .logo {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .gamburger {
        cursor: pointer;
        display: block;
        margin-top: 55px;
    }

    .main-description {
        display: block;
    }

    .year {
        margin-top: 23px;
    }

    .lang-toggle {
        display: none;
    }

   .photo {
        width: 317px;
        height: 378px;
        margin-top: 36px;
        background-image: url(img/photo-mobile.png);
    }

    .skils {
        padding-bottom: 0;
    }

    .skils h2 {
        margin-bottom: 50px;
    }

    .skils-items {
        margin-top: 81.49px;
        display: block;
    }

    .skils-box {
        margin-bottom: 81px;
    }

    .rating {
        justify-content: center;
        margin-top: 40px;
    }

    .portfolio h2 {
        margin-bottom: 10px;
    }

    .portfolio-img {
        width: 316px;
        height: 176px;
        margin-bottom: 35px;
        margin-top: 77px;
    }

    .portfolio-img.camping-sale {
        background-image: url(img/camping-sale-mobile.png);
    }
    
    .portfolio-img.rebok {
        background-image: url(img/reebok-mobile.png);
    }
    
    .portfolio-img.braun {
        background-image: url(img/braun-mobile.png);
    }
}